/* Base styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: seashell;
  background-color: black;
  text-align: center;
  font-size: 22px;
}

main {
  margin-top: 69px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header and Nav */

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  width: 100vw;
  align-items: center;
  z-index: 10;
  background-color: black;
}

header .logo {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

nav ul {
  text-decoration: underline;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 10px;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: seashell;
}

/* Mission */

#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  background-image: url('./resources/images/img-mission-background.jpg');
}

.text-container {
  background-color: black;
  width: 100%;
  padding: 10px 0px;
  text-transform: capitalize;
}

.text-container h2 {
  margin-bottom: 20px;
}

/* Feautured */

#featured {
  margin-top: 70px;
}

#featured h2 {
  margin-bottom: 25px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-top: 20px;
}

.img-group {
  margin: 10px 10px;
}

.img-group img {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}

/* Locations */

#locations {
  background-image: url('/./resources/images/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location {
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 9px black;
}

.location p,
.location h3 {
  margin: 35px 0;
}

/* Footer */

footer {
  width: 100vw;
}

footer h2 {
  margin: 20px;
}

footer h5 {
  margin: 40px 0;
}

.contact {
  height: 200px;
}

.copyright {
  text-align: start;
  margin: 20px;
}
